<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>54088978756-iigo3e11vlm6dnsvesl5hu2q7apn9ekl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.54088978756-iigo3e11vlm6dnsvesl5hu2q7apn9ekl</string>
	<key>API_KEY</key>
	<string>AIzaSyBlDHA9xI6w6cKojJx78i-1Luwg4PKPv_g</string>
	<key>GCM_SENDER_ID</key>
	<string>54088978756</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jump.jump</string>
	<key>PROJECT_ID</key>
	<string>jump-79d1f</string>
	<key>STORAGE_BUCKET</key>
	<string>jump-79d1f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:54088978756:ios:6867ce85947485085b4711</string>
	<key>DATABASE_URL</key>
	<string>https://jump-79d1f-default-rtdb.firebaseio.com</string>
</dict>
</plist>